★{
    box-sizing: border-box;
}
.container1{
    width: 1000px;
    margin: 0 auto;
}
.container2{
    width: 800px;
    margin: 0 auto;
}
.header-left{
    font-size: 23px;
    padding-top: 40px;
    margin-bottom: 5px;
}
.top-wrapper{
    margin-bottom: 65px;
}
.top-img{
    height: 400px;
    background-image: url(img/mainvisual.jpg)
}
.index-content{
    background-color: #f5f5f5;
    padding: 40px;
}
.section-title{
    font-size: 17px;
    margin-bottom: 30px;
    text-align: center;
}
.text-content ol{
    font-size: 14px;
    text-align: center;
    border: 1px solid black;
}
.text-content li{
    margin-bottom: 20px;
}
.moji{
    font-size: 20px;
}
.yoshi{
    font-size: 30px;
}
.kasu{
    font-size: 40px;
}
h1{
    font-size: 30px;
}
.marker{
    background-color: chocolate;
}
.markor{
    background-color: saddlebrown;
}
.bg{
    background-color: cyan;
}
ul{
display: flex;
}
.wani::before{
    content: "★";
}
h3{
    font-size: 30px;
}
h3::before{
    content: "😁";
}
.buti{
    font-size: 30px;
}
.buti::before{
    content: "✨";
}
.momo{
    font-size: 30px;
}
.momo::before{
    content: "🚵‍♀️";
}
.yoshimasa{
    background-color: gold;
}
.gomi{
    background-color: darkturquoise;
}
.mojo{
    color:deeppink;
    font-size: 20px;
}